@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: url('./images/bg-image.jpg') 0 0 / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
